/* Reset default CSS */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;  
  color: white;
}
h1{
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: yellowgreen;
}
.flex-Property{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#mainDiv{
  margin-top: 50px;
  display: flex;
  font-size: 25px;  
  justify-content: space-evenly;
  align-items: center;
}

#box1, #box2, #box3{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#scoreBoard{
  padding: 5px;
  height: 80px;
  font-size: 60px;
  border-radius: 9px;
  box-shadow: 20px yellow;
  text-align: center;
}

.svg-input{
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: rgb(149, 245, 133);

}
#svgInputBlock{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.svg-input:hover{
  background-color: #f17e19;
}

.svg-input:active {
  background-color:  rgb(233, 144, 81);
  box-shadow: 0 5px #b3b1b1;
  transform: translateY(4px);
}
.messageHeadingWin{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: yellow;
  font-size: 90px;
}
.messageHeadingLoose{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  font-size: 90px;
}